.visual {position: relative; margin-top: 49px; height: 150px; width: 100%; border-radius: 0 0 20px 20px;
    background-size: cover; background: url(../images/sub2_visualx2.png) no-repeat center;}

#content{margin: 20px 20px 80px; text-align: justify;
    font-family: 'Noto Sans KR', sans-serif; font-weight:400;}


/* feature film 영역 */
.feature .inWrap {
	position: relative;
}

.feature .fInner {
	margin: 0 auto;	width: 85%; overflow: hidden;
	padding-bottom: 1%;
    height: 450px;
}

.feature li {
	float: left; width: 188px; height: 282px;	margin-bottom: 4em; list-style: none;
	margin: 0 10px;
	
}

.feature li .poster {
	display: block; background: #f0f0f0; height: 100%; margin: 0 3%;
	box-shadow: 2px 2px 5px gray;
	text-align: center;
}
.feature li span {
	display: block;
	width: 100%;
    color:#333;
	font-size: 16px;
	font-weight: 400;
    line-height: 2em;
	text-align: center;
	margin: 10px 0;
}

.feature li:nth-child(1) .poster{
	background: url(../images/film01.png) center center no-repeat;
	background-size: cover;
}
.feature li:nth-child(2) .poster{
	background: url(../images/film02.png) center center no-repeat;
	background-size: cover;
}
.feature li:nth-child(3) .poster{
	background: url(../images/film03.png) center center no-repeat;
	background-size: cover;
}
.feature li:nth-child(4) .poster{
	background: url(../images/film04.png) center center no-repeat;
	background-size: cover;
}
.feature li:nth-child(5) .poster{
	background: url(../images/film05.png) center center no-repeat;
	background-size: cover;
}
.feature li:nth-child(6) .poster{
	background: url(../images/film06.png) center center no-repeat;
	background-size: cover;
}


.feature .swiper-pagination {
	position: relative;
	margin-top: 30px;
}
.feature .swiper-pagination-progress .swiper-pagination-progressbar{
	background: rgba(4, 178, 217, 1);
}

.feature .btn{overflow: hidden; margin-top: 20px;}
.feature .btn1{float: left; display: block; width: 40%; margin: 0 1% ;
	text-align: center; border-radius: 10px; font-size: 14px;  padding: 5px;
	border: 1px solid #ccc;}
.feature .btn2{background: rgb(232, 23, 31, .9); color: #fff; width: 40%;
	margin: 0 1%; padding: 5px; display: block; text-align: center;
	border-radius: 10px; font-size: 14px; float: left;}


/* 일반 pc */
@media screen and (max-width:1280px) {

}


/* 테블릿 */
@media screen and (max-width:1024px) {

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

	.feature .button div{
		width: 40px;
		height: 40px;
	}
	.feature .button div a {
		background-size: 20px 20px;
	}
}

/* 모바일 */
@media screen and (max-width:640px) {


}

/* 소형 모바일 */
@media screen and (max-width:480px) {

	.feature .fInner {
		width: 95%;
	}
	.feature li {
		width: 140px; height: 210px;
	}
	.feature li span {
		font-size: 1.1667em;
	}
	.feature .button {
		display: none;
	}
	
}



/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	
}

.ticket_cost{overflow: hidden;}
#content h3{margin: 30px 0; font-size: 20px; font-weight: 500;}
#content h4{font-size: 16px; margin-bottom: 20px;}
.ticket_cost .tables{width: 100%; font-size: 14px; float: left; margin-bottom: 50px;}
.ticket_cost table{width: 100%; text-align: center;}
.ticket_cost thead{border-top: 2px solid #666;}
.ticket_cost thead tr th{border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; 
    padding: 5px 0; font-weight: 500;background: #eaeaea;}
.ticket_cost tbody .table1{border-top: 2px solid #ccc;}
.ticket_cost tbody{border-bottom: 1px solid #ccc;}
.ticket_cost tbody th{font-weight: 500; border-right: 1px solid #ccc;}
.ticket_cost tbody td{text-align: center; color: #333; line-height: 2em; border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; padding: 4px 0;}
.ticket_cost .last{border-right: none;}

.preference{font-size: 16px; margin-bottom: 80px;}
.preference ul{line-height: 2em; margin-bottom: 10px;}
.preference span{color: #e8171f; display: block; margin-bottom: 10px; line-height: 2em;}

.information{}
.information li{border: 1px solid #ccc; border-radius: 20px; padding: 0 20px;
    margin-bottom: 30px; line-height: 2em;}
.information dl{margin-bottom: 20px; }
.information dl dt{font-size: 18px; }
.information dl dd{font-size: 16px;}